    <div class= "center jumbotron">
        <h1> Bienvenido a Agropazco</h1>
        <h2> 
            Página principal de la aplicación de Agropazco, usando 
            <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>.
        </h2>
        <div class="typewriter">
            <h1 style="display: inline-block;">The fat cat.</h1>
        </div>
        <%= link_to "¡Regístrate ahora!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>