    <div class= "center jumbotron">
        <h1> Bienvenido a Agropazo</h1>
        <h2> 
            Página principal de la aplicación de Agropazco, usando 
            <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
            sample application.
            </h2>
            <%= link_to "¡Regístrese ahora!", signup_path, class: "btn btn-lg btn-primary" %>
            </div>