<div class= "center jumbotron">
    <h1> Bienvenido a Agropazco</h1>
    <h2> 
        Página principal de la aplicación de Agropazco, usando 
        <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>.
    </h2>
    <div class="css-typing">
        <p>Únete ahora, y empieza a escribir tu historia en Agropazco.</p>
    </div>

    <%= link_to "¡Regístrate ahora!", signup_path, class: "btn btn-lg btn-primary" %>
</div>