<h1>Sobre nosotros</h1>
<p> Agropazco es una organización que nace ante múltiples necesidades del campo Colombiano y como resultado del laboratorio de innovación para la Paz realizado en la Universidad Nacional de Colombia. El equipo de Agropazco esta conformado íntegramente por estudiantes, profesionales de distintas áreas y personas de diferentes regiones del país, Caracterizadas por un espíritu emprendedor, solidario y consciente del estado actual del campo, los cuales han manifestado estar comprometidos con la Paz y el desarrollo.</p>
