<h1>Preguntas frecuentes</h1>

<dl>
  <dt><p style="text-align:justify">¿Cómo puedo empezar a publicar?</p></dt>
  <dd><p style="text-align:justify">- Si ya tienes una cuenta de <strong>vendedor</strong>, inicia sesión y haz clic en el logo de Agropazco, serás dirigido a la página principal, y podrás redactar una publicación nueva.</p></dd>
  <dd><p style="text-align:justify">- Si todavía no has creado tu cuenta, regístrate y sigue las indicaciones del punto anterior.</p></dd>  
  <dt><p style="text-align:justify">¿Dónde se encuentran las publicaciones?</p></dt>
  <dd><p style="text-align:justify">- Podrás observar las publicaciones en la pestaña del mismo nombre, o haciendo clic <%= link_to "aquí.", posts_path, id:"link" %></p></p></dd>
  <dt><p style="text-align:justify">¿Puedo cambiar el tipo de mi cuenta?</p></dt>
  <dd><p style="text-align:justify">- En el momento no es posible cambiar de rol.</p></dd>
  <dt><p style="text-align:justify">¿Quién puede ver mi información personal?</p></dt>
  <dd><p style="text-align:justify">- Si eres un <strong>vendedor</strong>, la información de contacto que proveas en tu perfil será visible a todos los usuarios de la página.</p></dd>
  <dd><p style="text-align:justify">- Si eres un <strong>comprador</strong>, no debes preocuparte por nada, tu información de contacto está a salvo con nosotros.</p></dd>
</dl>

