<h1>Nuestro Impacto</h1>
<p style="text-align:justify">
Queremos que cada acción que llevamos a cabo <strong>impacte</strong> de manera positiva en los campesinos y sus comunidades.
Así que medimos lo que hacemos con rigor, monitoreamos y evaluamos todos nuestros actos.
</p>
<p style="text-align:justify">
¿Qué pretendemos?
<ul>
    <li><p style="text-align:justify"><strong>Motivar</strong> a que los campesinos sean el motor de cambio en su familia y en su comunidad, aportando su talento productivo y puedan aprovechar la reducción en tarifas de intermediarios para generar empleos.</p></li>
    <li><p style="text-align:justify"><strong>Impulsar</strong> la colaboración entre productores, personas naturales y organizaciones de la sociedad civil. Fomentar el desarrollo de programas de capacitación con indicadores de desempeño probados para aumentar las inversiones sociales y comunitarias.</p></li>
    <li><p style="text-align:justify"><strong>Vincular</strong> a todas las instituciones del ecosistema emprendedor con nuestros vendedores para fortalecer sus ideas de negocio.</p></li>
</ul>
</p>
