<h1>Nuestros Patrocinadores</h1>
<p style="text-align:justify"> En este momento estamos buscando patrocinio. ¿Quieres apoyar la inicativa <strong>Agropazco</strong> y ser parte de esta gran familia? <%= link_to "Contáctanos.", contact_path, id:"link" %></p>
