<h1>Restablecer contraseña</h1>

<p> Para restablecer su contraseña haga clic en el siguiente enlace: </p>

<%= link_to "Restablecer contraseña", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p> El enlace expirará en dos horas. </p>

<p>
Si usted no solicitó restablecer su contraseña, por favor ignore este correo y
su contraseña no cambiará.
</p>

