<% provide(:title, "Editar usuario") %>
<% provide(:button_text, 'Guardar cambios') %>
<h1>Actualizar perfíl</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <p> <strong> Tipo de cuenta: </strong> <%= role_name(@user.role)  %> </p>
    <%= render 'form', locals: { parent: :edit} %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener noreferrer">change</a>
    </div>
  </div>
</div>

