<footer class="footer">
  <small>
    Agropazco
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre nosotros",   quienes_somos_path %></li>
      <li><%= link_to "Contacto", contacto_path %></li>
    </ul>
  </nav>
</footer>


