<footer class="footer">
  <small>
    Agropazco
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre nosotros",   about_path %></li>
      <li><%= link_to "Contacto", contact_path %></li>
    </ul>
  </nav>
</footer>