<footer class="footer">
  <small>
    Agropazco
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre nosotros",   '#' %></li>
      <li><%= link_to "Contacto", '#' %></li>
    </ul>
  </nav>
</footer>


